body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #761919;
}

.background{
    /* background-image: url(/public/CSS/img/Photo\ Tim-Burton\ .jpeg); */
}

.container{
    margin: 0 auto;
    max-width: 940px;
} 


h1{
    text-align: center;
    color: #ffffff;
}

.hide{

  display: none;
}

.tim{
    width: 60%;
    margin-top: 2em;
}

@media screen and ((min-width: 400px) and (max-width: 630px)){
    .Tim{
        height: auto;
    }
}


.block{
    display: flex;
    flex-direction: column;
}


.label{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    top: -18px;
    border-radius: 44px;
    color: black;
    text-align: center;
    width: 22vh;
    height: 5vh;
}



.buttonScore{
    display: flex;
    justify-content: center;
    margin: 2em;
    border: 0;
}

.score {
    font-size: 26px;
    font-weight: 900;
    color: #761919;
    width: 11em;
    height: 3.5em;
    border-radius: 44px;
    border : 0;
}


.sticker{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    border-radius: 44px;
    color: #ffffff;
    margin: 2.5em;
}


.quest{
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 16px;
} 

.answer{
    border-radius: 44px;
    color: #ffffff;
    background-color: black;
    border: 3px solid white;
    padding: 1em;
    margin: 1em;
    font-size: 16px;
}

.answer:hover{
    background-color:#761919!important;
}


.continue{
    border-radius: 44px;
    color: #ffffff;
    background-color: #761919;
    text-align: center;
    width: 22vh;
    height: 5em;
    border : 0;
}


.buttonContinue{
    display: flex;
    justify-content: center;
    padding: 1em;
}


.continue:hover{
    border: 3px solid white;
}

.gifGood{
    display: none;
    justify-content: center;
    align-items:center; 
    flex-direction: column;
}

.gifFalse{
    display: none;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

.goodOne{
    width: 300px;
    height: 300px;
}

.badOne{
    width: 300px;
    height: 300px;
}

.todo{
    background-color: black;
    border-radius: 44px;
    color: #ffffff;
}

.showResult{
    display: none;
    align-items: center;
    justify-content: center;
}
.isActive {
    color: #000000!important;
    background-color: #ffffff!important;
}